.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    @include font(12px, 400, 14px);

    margin-top: 12px;

    margin-bottom: 4px;

    display: block;
    color: var(--color-tipe);
}

    .form__icon {
        position: absolute;
        /* display: block; */
        width: 18px;
        height: 18px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);

        display: inline-block;

        transition: background-color 250ms var(--cubic);
    }




.form__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    padding-left: 42px;

    color: var(--text-color);
   @include font(14px);

    transition: border-color 250ms var(--cubic),
    color 250ms var(--cubic);
    outline: 0;


&:hover,
&:focus {
    border-color: var(--color-link);
}

&:focus+.form-icon {
    fill: var(--color-link);
}}



   .form__input-wrapper {
        position: relative;
   
     
        &:focus,
        &:focus+.form-icon {
            fill: var(--color-link);
            border-color: var(--color-link);
            outline: none;
        }
    }



.form__field {

    display: inline-block;
    width: 100%;
    
    @include font(12px);
    color: var(--text-color);
    // margin-bottom: 10px; 
}

.form__field-textarea {
    margin-bottom: 20px;
}


.form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    margin-bottom: 20px;
    @include font(14px);
    letter-spacing: 0.01em;

    transition: border-color 250ms var(--cubic);
    color: var(--main-color);
    

&::placeholder {
    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

&:hover,
&:focus 
{
    fill: var(--color-link);
    border-color: var(--color-link);
    outline: none;
  }
}



.form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
@include font(14px);

    margin-bottom: 30px;
    color: var(--color-tipe);
    line-height: 1.71;


&::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
   
} }



.form__checkbox-input {
    display: inline-flex;
    align-items: center;
    position: absolute;


    &:checked+.form-checkbox-label:before,
    &:focus+.form-checkbox-label:before {
        background-image: url(../images/icons/icon-check.svg);
        border-color: transparent;
        background-color: var(--color-link);

        background-origin: border-box;
        background-size: contain;

        background-repeat: no-repeat;
    }
}

.form__checkbox-link {
    color: var(--color-link);
    text-decoration: underline;
}


.form__button {
    width: 200px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--primary-bg-color);
    background-color: var(--color-link);
    border-radius: 4px;
    border: none;
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;

    font-family: inherit;
    @include font(16px, 700, 29px);
    
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 250ms var(--cubic);


&:hover,
&:focus {
    background-color: var(--color-link);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
} }