.footer {
    background-color: var(--color-font);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    color: var(--main-color);
    display: inline-block;
    margin-bottom: 20px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    font-style: normal;

    letter-spacing: 0.03em;
}

.logo--accent {
    color: var(--main-color)
}

.footer__adress {
    display: flex;
}



.footer__adress-location {
    font-family: 'Roboto';
    color: var(--main-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;


&:hover,
&:focus {
    color: var(--color-link);
}}


.footer__adress-mail,
.footer__adress-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 0.6);

    display: block;
    margin-top: 9px;


.footer__adress-mail:hover,
.footer__adress-mail:focus,

.footer__adress-tel:hover,
.footer__adress-tel:focus {
    color: var(--color-link);
}}



//FOOTER ICONS 

.join {
    margin-left: 70px;
}

.join__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    color: var(--main-color);
    text-transform: uppercase;
}

.join__list {
    display: flex;
}

.join__item {
    // margin-top: 16px; 
    margin-left: 10px;

}

.join__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.join__icon {
    fill: var(--main-color);
}


// FOOTER SUBSCRIBE 

.footer-subscribe {
    margin-left: 98px;
}

.footer-subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.footer-subscribe__form {
    display: flex;
}


.footer__subscribe-email {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;

    border-radius: 4px;

    color: var(--main-color);
    font-size: 16px;
    line-height: 1.25;


&::placeholder {
    color: rgba(255, 255, 255, 0.6);
}}


.footer-subscribe__btn {
    display: inline-flex;
    color: var(--main-color);
    background-color: var(--color-link);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15%);
    transition: background-color 250ms var(--cubic);
    border-radius: 4px;
    align-items: center;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    cursor: pointer;
}


.footer-subscribe__icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--main-color);
}